version: '3.9'
services: 
  postgres-db:
    image: postgres:latest
    container_name: postgres
    hostname: postgres
    restart: unless-stopped
    ports:
      - 8080:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: delicery

  delicery-api:
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    container_name: delicery-api
    depends_on:
      - postgres-db
    ports:
      - "3000:3000"
    restart: unless-stopped
